html {
    scroll-behavior: smooth;
    font-family: ui-sans-serif, system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
:root {
    --color-red-50: #fef2f2;
    --color-red-100: #ffe2e2;
    --color-red-500: #fb2c36;
    --color-red-600: #e7000b;
    --color-red-700: #c10007;
    --color-red-900: #82181a;
    --color-orange-500: #ff6900;
    --color-orange-600: #f54a00;
    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-500: #00c950;
    --color-green-600: #00a63e;
    --primary: #1b5e20;
    --secondary: #2e7d32;
    --tertiary: #66bb6a;
    --quaternary: #81c784;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-black: #000;
    --color-white: #fff;
    --muted: #f5f5f5;
    --muted-foreground: #616161;
    --highlight: #f9a825;
    --destructive: #d4183d;
    --border: #1b5e201a;
    --switch-background: #cbced4;
    --radius: 0.625rem;
    --spacing: 0.25rem;
    --container-sm: 24rem;
    --container-lg: 32rem;
    --container-4xl: 56rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
}
body {
    color: #1b5e20;
}

/* === Scroll Reveal === */
html.sr .nav > a,
html.sr .links li,
html.sr .hero-text .revelar-baixo,
html.sr .hero-text .btn-reveal,
html.sr .dsf-global-cabecalho,
html.sr .cards .card-reveal,
html.sr .img-reveal,
html.sr .text-reveal,
html.sr .banner-text .revelar-baixo,
html.sr .tec-revo-text,
html.sr .tec-revo-cards .tec-revo-card-reveal,
html.sr .evo-text,
html.sr .left-time,
html.sr .right-time,
html.sr .videos-educacionais,
html.sr .videos-carrossel {
  visibility: hidden;
}

/* === Header === */
nav {
    width: 100%;
    position: fixed;
    background-color: #fffffffd;
    z-index: 100;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}
nav div.nav {
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: auto;
}
nav a:nth-of-type(1) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
nav a div.logo {
    background-color: #1b5e20;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 150ms ease-in-out;
}
nav a:hover div.logo {
    transform: scale(1.1);
}
nav a div.logo svg.folhinha {
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
nav a span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5555;
}
nav ul.links {
    display: flex;
    gap: 2rem;
    align-items: center;
}
nav ul.links li a.link {
    padding: 0.5rem 0;
    position: relative;
}
nav ul.links li div.underline {
    background-color: #1b5e20;
    height: 0.125rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.25rem;
}

/* === Footer === */
footer {
    color: #ffffff;
    padding: 3rem 0;
    background-color: #1b5e20;
}
footer div.footer-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
footer div.footer-content div.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
footer div.footer-content div.info div.info-PI {
    display: flex;
    justify-content: center;
}
footer div.footer-content div.info div.info-PI h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer div.footer-content div.info div.info-PI p {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer div.footer-content div.info div.info-equipe {
    display: flex;
    justify-content: center;
}
footer div.footer-content div.info div.info-equipe h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer div.footer-content div.info div.info-equipe ul {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer div.footer-content div.info div.info-equipe li {
    margin-bottom: 0.25rem;
}
footer div.footer-content div.info div.info-ref {
    display: flex;
    justify-content: center;
}
footer div.footer-content div.info div.info-ref h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer div.footer-content div.info div.info-ref ul {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer div.footer-content div.info div.info-ref li {
    margin-bottom: 0.25rem;
}
footer div.footer-content div.info div.info-ref a:hover {
    color: #ffffff;
}
footer div.credits {
    color: #ffffff99;
    font-size: 0.875rem;
    line-height: 1.4287;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #ffffff33;
    margin-top: 2rem;
}

/* === 1ª Página - Início === */

/* === Main - Content === */
main {
    padding-top: 5rem;
}

/* === Hero === */
section.hero {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
section.hero div.hero-image {
    z-index: 0;
    inset: 0;
    position: absolute;
}
section.hero div.hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
section.hero div.hero-image div.gradient {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #00000099, #00000066, #000000b3);
}
section.hero div.hero-text {
    text-align: center;
    padding: 0 1rem;
    max-width: 64rem;
    z-index: 10;
    position: relative;
}
section.hero div.hero-text div.PI {
    display: inline-block;
    margin-bottom: 1.5rem;
}
section.hero div.hero-text div.PI span {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
    background-color: #f9a825;
    border-radius: 100px;
}
section.hero div.hero-text h1 {
    font-size: 4.5rem;
    line-height: 1.25;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
section.hero div.hero-text p {
    font-size: 1.5rem;
    line-height: 1.3333;
    color: #ffffffe6;
    max-width: 48rem;
    margin-bottom: 2.5rem;
    margin-inline: auto;
}
section.hero div.hero-text a.btn-explorar {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #1b5e20;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 50px;
    line-height: 1.5555;
    transition: 300ms ease-in-out;
}
section.hero div.hero-text a.btn-explorar:hover {
    background-color: #2e7d32;
    transform: scale(1.05);
}
section.hero div.hero-text a.btn-explorar svg.setinha {
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}

/* === Desafio Global === */
section.dsf-global {
    padding: 5rem 0;
}
section.dsf-global div.dsf-global-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin: auto;
}
section.dsf-global div.dsf-global-content div.dsf-global-cabecalho {
    text-align: center;
    margin-bottom: 4rem;
}
section.dsf-global div.dsf-global-content div.dsf-global-cabecalho h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1111;
    margin-bottom: 1rem;
}
section.dsf-global div.dsf-global-content div.dsf-global-cabecalho p {
    opacity: 0.7;
    font-size: 1.25rem;
    line-height: 1.5555;
    max-width: 42rem;
    margin: auto;
}
section.dsf-global div.dsf-global-content ul.cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
section.dsf-global div.dsf-global-content ul.cards li.card {
    padding: 2rem;
    color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    transition: 150ms ease-in-out;
}
section.dsf-global div.dsf-global-content ul.cards li.card:hover {
    transform: scale(1.05);
}
section.dsf-global div.dsf-global-content ul.cards li.card svg.cards-svg {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
section.dsf-global div.dsf-global-content ul.cards li.card div.cards-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}
section.dsf-global div.dsf-global-content ul.cards li.card p:nth-of-type(1) {
    opacity: 0.9;
}
section.dsf-global div.dsf-global-content ul.cards li.card p:nth-of-type(2) {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.4287;
    margin-top: 0.5rem;
}
section.dsf-global div.dsf-global-content ul.cards li.ppl-mundial {
    background-image: linear-gradient(to bottom right, #1b5e20, #2e7d32);
}
section.dsf-global div.dsf-global-content ul.cards li.pss-insg-alimentar {
    background-image: linear-gradient(to bottom right, #2e7d32, #66bb6a);
}
section.dsf-global div.dsf-global-content ul.cards li.comida-dpcd {
    background-image: linear-gradient(to bottom right, #66bb6a, #81c784);
}

/* === Produção Sustentável === */
section.prod-stvl {
    padding: 5rem;
    background-color: #f5f5f5;
}
section.prod-stvl div.prod-stvl-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
section.prod-stvl div.prod-stvl-content div.prod-stvl-text-header {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}
section.prod-stvl div.prod-stvl-content div.prod-stvl-text-header svg.plantinha {
    color: #1b5e20;
    width: 2rem;
    height: 2rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
section.prod-stvl div.prod-stvl-content div.prod-stvl-text-header span {
    color: #f9a825;
    font-weight: 600;
}
section.prod-stvl div.prod-stvl-content h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1111;
    margin-bottom: 1.5rem;
}
section.prod-stvl div.prod-stvl-content p.prod-stvl-text {
    color: #1b5e1fb3;
    font-size: 1.125rem;
    line-height: 1.5555;
    margin-bottom: 1.5rem;
}
section.prod-stvl div.prod-stvl-content p.prod-stvl-text:nth-of-type(2) {
    margin-bottom: 2rem;
}
section.prod-stvl div.prod-stvl-content a {
    font-weight: 600;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.15s;
}
section.prod-stvl div.prod-stvl-content a:hover {
    gap: 1rem;
}
section.prod-stvl div.prod-stvl-content a svg.setinhazinha {
    color: #1b5e20;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
section.prod-stvl div.prod-stvl-content div.img-reveal {
    position: relative;
}
section.prod-stvl div.prod-stvl-content img {
    box-shadow: 0 25px 50px -12px #0000001a, 0 10px 30px -15px #0000001a;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    display: block;
}
section.prod-stvl div.prod-stvl-content div.eficiencia {
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    color: #ffffff;
    padding: 1.5rem;
    background-color: #f9a825;
    border-radius: 1rem;
    position: absolute;
    bottom: -1.5rem;
    right: -1.5rem;
}
section.prod-stvl div.prod-stvl-content div.eficiencia p:nth-of-type(1) {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.2;
}
section.prod-stvl div.prod-stvl-content div.eficiencia p:nth-of-type(2) {
    font-size: 0.875rem;
    line-height: 1.4287;
}

/* === 2ª Página - Métodos Modernos === */

/* ==== Banner === */
section.banner {
    color: #ffffff;
    padding: 5rem 0;
    background-image: linear-gradient(to bottom right, #1b5e20, #2e7d32);
    position: relative;
}
section.banner div.banner-lights {
    opacity: 10%;
    inset: 0;
    position: absolute;
}
section.banner div.banner-lights div.white-light {
    filter: blur(64px);
    background-color: #ffffff;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    position: absolute;
    left: 5rem;
    top: 5rem;
}
section.banner div.banner-lights div.yellow-light {
    filter: blur(64px);
    background-color: #f9a825;
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
}
section.banner div.banner-text {
    text-align: center;
    max-width: 48rem;
    margin: auto;
}
section.banner div.banner-text div.TI span {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: #f9a825;
    border-radius: 100px;
}
section.banner div.banner-text h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
section.banner div.banner-text p {
    color: #ffffffe6;
    font-size: 1.25rem;
    line-height: 1.5555;
}

/* === Tecnologias Revolucionárias === */
section.tec-revo {
    padding: 5rem;
    background-color: #ffffff;
}
section.tec-revo div.tec-revo-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
section.tec-revo div.tec-revo-content div.tec-revo-text {
    text-align: center;
    margin-bottom: 4rem;
}
section.tec-revo div.tec-revo-content div.tec-revo-text h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    line-height: 1.1111;
}
section.tec-revo div.tec-revo-content div.tec-revo-text p {
    color: #1b5e1fb3;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    max-width: 42rem;
    margin-inline: auto;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card {
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    transition: 150ms ease-in-out;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card:hover {
    transform: translateY(-10px);
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-banner {
    overflow: hidden;
    height: 12rem;
    position: relative;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 500ms ease-in-out;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card:hover div.tec-revo-card-banner img {
    transform: scale(1.1);
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-banner div.tec-revo-card-banner-gradient {
    opacity: 0.6;
    background-image: linear-gradient(to top, #1b5e20, #2e7d32);
    position: absolute;
    inset: 0;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-banner div.tec-revo-card-banner-icon {
    padding: 0.75rem;
    background-color: #ffffff33;
    backdrop-filter: blur(8px);
    border-radius: 50px;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-banner div.tec-revo-card-banner-icon svg {
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-text {
    padding: 1.5rem;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-text h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.75rem;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards div.tec-revo-card div.tec-revo-card-text p {
    color: #1b5e1fb3;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards li.agr-prec {
    grid-column: 1 / span 2;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards li.dron-agr {
    grid-column: 3 / span 2;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards li.IA {
    grid-column: 5 / span 2;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards li.hidroponia {
    grid-column: 2 / span 2;
}
section.tec-revo div.tec-revo-content ul.tec-revo-cards li.agr-vert {
    grid-column: 4 / span 2;
}

/* === Evolução da Agricultura === */
section.evo {
    padding: 5rem 0;
    background-color: #f5f5f5;
}
section.evo div.evo-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
section.evo div.evo-content div.evo-text {
    text-align: center;
    margin-bottom: 4rem;
}
section.evo div.evo-content div.evo-text svg {
    width: 3rem;
    height: 3rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    margin-bottom: 1rem;
    margin-inline: auto;
}
section.evo div.evo-content div.evo-text h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1111;
    margin-bottom: 1rem;
}
section.evo div.evo-content div.evo-text p {
    color: #1b5e1fb3;
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 42rem;
    margin-inline: auto;
}
section.evo div.evo-content ul.evo-timeline {
    position: relative;
}
section.evo div.evo-content ul.evo-timeline div.linha {
    background-color: #66bb6a;
    width: 0.25rem;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0;
    border-radius: 1.2px;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards .flex1 {
    flex: 1;
}
section.evo div.evo-content ul.evo-timeline li.left-card {
    flex-direction: row;
}
section.evo div.evo-content ul.evo-timeline li.left-card div.left-time {
    padding-right: 3rem;
}
section.evo div.evo-content ul.evo-timeline li.right-card {
    flex-direction: row-reverse;
}
section.evo div.evo-content ul.evo-timeline li.right-card div.right-time {
    padding-left: 3rem;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.card {
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border-radius: 1rem;
    padding: 1.5rem;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.card h4 {
    color: #f9a825;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3333;
    margin-bottom: 0.5rem;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.card p {
    color: #1b5e1fb3;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    background-color: #1b5e20;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border: 4px #ffffff solid;
    border-radius: 50%;
}
section.evo div.evo-content ul.evo-timeline li.evo-timeline-cards div.time div {
    background-color: #f9a825;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

/* === Vídeos Educacionais === */
section.videos {
    padding: 5rem 0;
    background-image: linear-gradient(to bottom right, #2e7d32, #1b5e20);
    color: #ffffff;
}
section.videos div.videos-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}
section.videos div.videos-content div.videos-educacionais h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1111;
    margin-bottom: 1.5rem;
}
section.videos div.videos-content div.videos-educacionais p {
    color: #ffffffe6;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
section.videos div.videos-content div.videos-educacionais ul.videos-links li {
    backdrop-filter: blur(8px);
    background-color: #ffffff1a;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    transition: 150ms ease-in-out;
}
section.videos div.videos-content div.videos-educacionais ul.videos-links li a {
    font-weight: 600;
    display: inline-block;
    padding: 1rem;
    width: 100%;
}
section.videos div.videos-content div.videos-educacionais ul.videos-links li:hover {
    transform: scale(0.95);
}
section.videos div.videos-content div.videos-carrossel {
    display: flex;
    align-items: center;
}
section.videos div.videos-content div.videos-carrossel div.carrossel-slide {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
}
section.videos div.videos-content div.videos-carrossel div.carrossel-slide div.carrossel-track {
    display: flex;
    transition: 500ms ease-in-out;
    width: 100%;
}
section.videos div.videos-content div.videos-carrossel div.carrossel-slide div.carrossel-track .carrossel-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0; 
    object-fit: cover;
}
section.videos div.videos-content div.videos-carrossel button {
    cursor: pointer;
    line-height: 0;
    margin-left: 1rem;
    flex-shrink: 0;
    transition: 100ms ease-in-out;
}
section.videos div.videos-content div.videos-carrossel button:hover {
    transform: translateY(-5px);
}
section.videos div.videos-content div.videos-carrossel button svg {
    color: #ffffffcc;
    width: 2rem;
    height: 2rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}

/* === 3ª Página - Desafios === /*