html {
    scroll-behavior: smooth;
    font-family: ui-sans-serif, system-ui, 'Segoe UI', 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
:root {
    --color-red-50: #fef2f2;
    --color-red-100: #ffe2e2;
    --color-red-500: #fb2c36;
    --color-red-600: #e7000b;
    --color-red-700: #c10007;
    --color-red-900: #82181a;
    --color-orange-500: #ff6900;
    --color-orange-600: #f54a00;
    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-500: #00c950;
    --color-green-600: #00a63e;
    --primary: #1b5e20;
    --secondary: #2e7d32;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-black: #000;
    --color-white: #fff;
    --muted: #f5f5f5;
    --muted-foreground: #616161;
    --tertiary: #66bb6a;
    --highlight: #f9a825;
    --destructive: #d4183d;
    --border: #1b5e201a;
    --switch-background: #cbced4;
    --quaternary: #81c784;
    --radius: 0.625rem;
    --spacing: 0.25rem;
    --container-sm: 24rem;
    --container-lg: 32rem;
    --container-4xl: 56rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
}
body {
    color: var(--primary);
}
html.sr .nav > a,
html.sr .navbar li,
html.sr .hero-text .revelar-baixo,
html.sr .hero-text .btn-reveal,
html.sr .dsf-global-cabecalho,
html.sr .cards .card-reveal,
html.sr .img-reveal,
html.sr .text-reveal {
  visibility: hidden;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.rounded-full {
    border-radius: calc(infinity * 1px);
}
nav {
    width: 100%;
    position: fixed;
    background-color: #fffffffd;
    z-index: 100;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}
nav .nav {
    padding: 0 2rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: auto;
}
nav a {  
    gap: 0.5rem;
    align-items: center;
}
nav .logo {
    background-color: var(--primary);
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-in-out;
}
nav a:hover .logo {
    transform: scale(1.10);
}
nav .folhinha {
    color: var(--color-white);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
nav span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5555;
}
nav .navbar {
    gap: 2rem;
    align-items: center;
}
nav .links {
    padding: 0.5rem 0;
    position: relative;
}
nav .underline {
    background-color: var(--primary);
    height: 0.125rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.25rem;
}
footer {
    color: var(--color-white);
    padding: 3rem 0;
    background-color: var(--primary);
}
footer .footer-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
footer .info {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
footer .info-PI {
    display: flex;
    justify-content: center;
}
footer .info-PI h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer .info-PI p {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer .info-equipe {
    display: flex;
    justify-content: center;
}
footer .info-equipe h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer .info-equipe ul {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer .info-equipe li {
    margin-bottom: 0.25rem;
}
footer .info-ref {
    display: flex;
    justify-content: center;
}
footer .info-ref h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer .info-ref ul {
    color: #ffffffcc;
    font-size: 0.875rem;
    line-height: 1.4287;
}
footer .info-ref li {
    margin-bottom: 0.25rem;
}
footer .info-ref a:hover {
    color: var(--color-white);
}
footer .credits {
    color: #ffffff99;
    font-size: 0.875rem;
    line-height: 1.4287;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #ffffff33;
    margin-top: 2rem;
}
main {
    padding-top: 5rem;
}
main .bg {
    background-color: var(--color-white);
}
main .hero {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
main .hero-image {
    z-index: 0;
    inset: 0;
    position: absolute;
}
main .hero-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
main .gradient {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, #00000099, #00000066, #000000b3
  );
}
main .hero-text {
    text-align: center;
    padding: 0 1rem;
    max-width: 64rem;
    z-index: 10;
    position: relative;
}
main .hero-text .PI {
    display: inline-block;
    margin-bottom: 1.5rem;
}
main .hero-text .PI span {
    color: var(--color-white);
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--highlight);
    border-radius: 100px;
}
main .hero-text h1 {
    font-size: 4.5rem;
    line-height: 1.25;
    color: var(--color-white);
    font-weight: 700;
    margin-bottom: 1.5rem;
}
main .hero-text p {
    font-size: 1.5rem;
    line-height: 1.3333;
    color: #ffffffe6;
    max-width: 48rem;
    margin-bottom: 2.5rem;
    margin-inline: auto;
}
main .hero-text .btn-explorar {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--primary);
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: calc(1.75 / 1.125);
    transition: all 150ms;
}
main .hero-text .btn-explorar:hover {
    background-color: var(--secondary);
    transform: scale(105%);
}
main .setinha {
    color: var(--color-white);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
main .dsf-global {
    padding: 5rem 0;
}
main .dsf-global-content {
    padding: 0 2rem;
    max-width: 80rem;
    margin: auto;
}
main .dsf-global-cabecalho {
    text-align: center;
    margin-bottom: 4rem;
}
main .dsf-global-cabecalho h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1111;
    margin-bottom: 1rem;
}
main .dsf-global-cabecalho p {
    opacity: 0.7;
    font-size: 1.25rem;
    line-height: 1.5555;
    max-width: 42rem;
    margin: auto;
}
main .cards {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
main .card {
    padding: 2rem;
    color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    transition: transform 0.15s;
}
main .cards .cards-svg {
    color: var(--color-white);
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
main .ppl-mundial {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}
main .ppl-mundial:hover {
    transform: scale(1.05);
}
main .ppl-mundial p:nth-of-type(1) {
    opacity: 0.9;
}
main .ppl-mundial p:nth-of-type(2) {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.4287;
    margin-top: 0.5rem;
}
main .pss-insg-alimentar {
    background-image: linear-gradient(to bottom right, var(--secondary), var(--tertiary));
}
main .pss-insg-alimentar:hover {
    transform: scale(1.05);
}
main .pss-insg-alimentar p:nth-of-type(1) {
    opacity: 0.9;
}
main .pss-insg-alimentar p:nth-of-type(2) {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.4287;
    margin-top: 0.5rem;
}
main .comida-dpcd {
    background-image: linear-gradient(to bottom right, var(--tertiary), var(--quaternary));
}
main .comida-dpcd:hover {
    transform: scale(1.05);
}
main .comida-dpcd p:nth-of-type(1) {
    opacity: 0.9;
}
main .comida-dpcd p:nth-of-type(2) {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1.4287;
    margin-top: 0.5rem;
}
main .cards-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}
main .prod-stvl {
    padding: 5rem;
    background-color: var(--muted);
}
main .prod-sustentavel {
    padding: 0 2rem;
    max-width: 80rem;
    margin-inline: auto;
}
main .prod-stvl-content {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
main .prod-stvl-text-header {
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}
main .prod-stvl-text-header .plantinha {
    color: var(--primary);
    width: 2rem;
    height: 2rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
main .prod-stvl-text-header span {
    color: var(--highlight);
    font-weight: 600;
}
main .prod-stvl-content h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1111;
    margin-bottom: 1.5rem;
}
main .prod-stvl-text {
    color: #1b5e1fb3;
    font-size: 1.125rem;
    line-height: 1.5555;
    margin-bottom: 1.5rem;
}
main .prod-stvl-text:nth-of-type(2) {
    margin-bottom: 2rem;
}
main .prod-stvl-content a {
    font-weight: 600;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.15s;
}
main .prod-stvl-content a:hover {
    gap: 1rem;
}
main .setinhazinha {
    color: var(--primary);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
}
main .img-reveal {
    position: relative;
}
main .prod-stvl-content img {
    box-shadow: 0 25px 50px -12px #0000001a, 0 10px 30px -15px #0000001a;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    display: block;
}
main .eficiencia {
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    color: var(--color-white);
    padding: 1.5rem;
    background-color: var(--highlight);
    border-radius: 1rem;
    position: absolute;
    bottom: -1.5rem;
    right: -1.5rem;
}
main .eficiencia div {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.2;
}
main .eficiencia p {
    font-size: 0.875rem;
    line-height: 1.4287;
}